*{
    padding: 0%;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: linear-gradient(pink,rgb(166, 164, 74));
    height: 100vh;
    width: 100%;   
}
body ::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    clip-path:circle(10% at right 20%) 
}
.container{
    width: 60%;
    height: 60%;
    background-color: rgb(226, 141, 43);
    border-radius: 20px 50px;   

}
nav{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto ;
}
.logo{
    color: rgb(43, 226, 70);
    text-decoration: wavy;
    font-size: large;
    letter-spacing:2px ;

}
nav> ul> li {
    display: inline;
    color: black;
    
    
}
h2{
    color: brown;
   
    font-weight: 500;
    font-size: larger;

}
p{
    background-color: aquamarine;
    border-radius: 40px 60px;
    border: 20px;
padding: 20px;
}

th{
    color:blue;

}
table{
    border-radius: 20px 60px;
    border-spacing: 4px;
    border-style:groove;
    width:20%;
    height: 10px;
    
}
video{
    color: blue;
   border-radius: 70px 60px;
   
}
